article {
    max-width: 900px;
    margin: 200px auto 140px auto;
    padding: 0 20px 0 90px;
}

/* --- Blog header --- */
.blog-article-header {
    max-width: 700px;
    margin: 0 auto;
}

.blog-article-header .article-date {
    font-family: 'Merriweather', serif;
    color: var(--tertiary-text-color);
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0;
}

.blog-article-header h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    color: var(--primary-accent-color);
    margin: 5px 0 25px 0;
    text-align: left;
}

.blog-article-header .author-tags {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    font-family: 'Merriweather', serif;
    font-size: 1.1rem;
}

.blog-article-header .author {
    display: flex;
    gap: 5px;
    align-items: center;
}

.blog-article-header .author p {
    padding-right: 10px;
    border-right: 1px solid var(--medium-grey);
}

.blog-article-header .author-tags img {
    width: 50px;
    height: auto;
}

.blog-article-header .author-tags p,
.blog-article-header .author-tags li {
    margin: 0;
}


.blog-article-header .tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.blog-article-header .tags li {
    width: fit-content;
    padding: 5px 10px;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border-radius: var(--border-radius-main);
    font-weight: 200;
    margin-bottom: 0;
}

.blog-article-header figure,
.blog-article-body figure {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto 90px auto;
}

.blog-article-header figure {
    width: auto;
    height: auto;
}

.blog-article-body figure {
    max-width: 80%;
    margin: 60px auto;
}

.blog-article-header figure img,
.blog-article-body figure img {
    width: 100%;
    border-radius: 8px;
    /*bord*/
    /*box-shadow: var(--box-shadow-main);*/
}

.blog-article-header figure figcaption,
.blog-article-body figure figcaption {
    text-align: center;
    color: var(--dark-grey);
    font-size: .9rem;
    font-weight: 200;
    font-style: italic;
}

/* --- Blog body --- */

.blog-article-body {
    margin-bottom: 100px;
}

.blog-article-body h2 {
    font-size: 1.8rem;
    color: var(--primary-accent-color);
    margin: 80px 0 20px 0;
}

.blog-article-body h3 {
    font-size: 1.4rem;
    color: var(--primary-accent-color);
    margin: 40px 0 20px 0;
    font-family: 'Merriweather', serif;
}

.blog-article-body p,
.blog-article-body li {
    font-family: 'Merriweather', serif;
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 2;
}

.blog-article-body strong {
    font-weight: 600;
}

.blog-article-body p,
.blog-article-body li:last-child {
    margin-bottom: 25px;
}

.blog-article-body a {
    color: var(--secondary-accent-color);
}

.blog-article-body a svg {
    fill: var(--secondary-accent-color);
    width: 15px;
}

.blog-article-body ul li {
    margin-bottom: 10px;
    list-style: square;
}

.blog-article-body ol li {
    margin-bottom: 10px;
    list-style: decimal;
}


.blog-article-body ul,
.blog-article-body ol {
    width: 90%;
    margin: 0 auto;
}

.blog-article-body blockquote {
    position: relative;
    width: 80%;
    margin: 50px auto;
    padding: 25px;
    /*border: 1px solid var(--dark-grey);*/
    background-color: var(--primary-accent-color-transparent);
    border-radius: var(--border-radius-main);
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6;
}

.blog-article-body blockquote::before {
    content: "\"";
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    color: var(--dark-grey);
    top: -55px;
    left: -15px;
}

.blog-article-body blockquote span {
    font-weight: 500;
    font-family: 'Merriweather', serif;
}

.share-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    border-top: 1px solid var(--medium-grey);
    padding-top: 15px;
}

.share-btns-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.share-container p {
    margin: 0;
}

.share-container a {
    padding: 7px;
    border-radius: 50%;
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.share-container svg {
    width: 22px;
    fill: var(--primary-accent-color);
    /*margin-right: 5px;*/
}


@media only screen and (max-width: 800px) {
    article {
        margin: 70px auto 140px auto;
        padding: 0 20px;
    }

    .blog-article-header .author-tags {
        flex-direction: column;
        align-items: flex-start;
    }

    .blog-article-header .author p {
        border-right: 0;
    }

    .blog-article-header img {
        width: 100%;
    }

    .blog-article-body h2 {
        display: inline-block;
        text-align: left;
    }
}

@media only screen and (max-width: 700px) {
    .blog-article-header h1 {
        font-size: 1.8rem;
    }

    .blog-article-body p,
    .blog-article-body li {
        font-size: 1.1rem;
    }

    .blog-article-body figure {
        max-width: 100%;
    }

    .share-container {
        flex-direction: column;
    }
}